<h1>Passenger View</h1>

<article class="show">
  <section>
    <h2>Name: <%= @passenger.name %></h2>
    <%if flash[:error]%>
      <h3><%= flash[:error]%></h3>
    <%end%>
    <%if flash[:success]%>
      <h3><%= flash[:success]%></h3>
    <%end%>
  </section>
  <ul>
    <li>
         <%= image_tag "https://api.adorable.io/avatars/200/.passenger#{@passenger.id}.png", alt: "Passenger Avatar", class: "avatar"%>
    </li>
    <li>
      <p>Phone Number: <%= @passenger.phone_num%></p>
    </li>
    <li>
      <p>Total Spent: <%= @passenger.total_spent %></p>
    </li>
    <li>
      <% @trip_in_progress =  @passenger.trip_in_progress%>
      <% if @trip_in_progress %>
        <%= render partial: 'rate_trip' %>
      <%else%>
          <%= button_to "Request Trip", passenger_trips_path(@passenger), class: "button"%>
      <%end%>
    </li>
    <li>
      <%= button_to "Delete", passenger_path(@passenger), method: :delete,  data: {confirm: "Are you sure?"},  class: "button"%>
    </li>
    <li>
      <%=  button_to "Edit", edit_passenger_path(@passenger), method: :get, class: "button"%>
    </li>
  </ul>
</article>

<section>
  <%= render partial: 'trip_table', locals: { trips: @passenger.trips } %>
</section>
