<h1>Rideshare Drivers</h1>

<section class="list">
  <% @drivers.each do |driver| %>
    <% if driver.id == 0%>
      <% next %>
    <% end %>
    <ul class="list">
      <li>
        <%= image_tag "https://api.adorable.io/avatars/193x100/.driver#{driver.id}.png", alt: "#{driver.name}'s Avatar", class: "avatar"%>
      </li>
      <li class = "name">
        <%= button_to "#{driver.name}", driver_path(driver.id), method: :get, class: "button" %>
      </li>
        
        <%status = ""%>
        <% if driver.available %>
          <% status = "available" %>
        <%else%>
          <%status = "unavailable"%>
        <%end%>
      <li>
        <p class= "<%=status%> status"><%="STATUS"%><br></p>
      </li>
     <!-- <li>
        <%= button_to "Delete", driver_path(driver.id), method: :delete, class: "button" %>
      </li>
      <li>
        <%=  button_to "Edit", edit_driver_path(driver.id), method: :get, class: "button" %>
      </li> -->
    </ul>
  <% end %>
</section>


