<h1>Driver View</h1>

<article>
  <h2>Name: <%= @driver.name %></h2>
  <ul>
    <li>
      <%= image_tag "https://api.adorable.io/avatars/200/.driver#{@driver.id}.png", alt: "Passenger #{@driver.id} Avatar"%>
    </li> 
    <li>
      Car: <%= "#{@driver.car_make} #{@driver.car_model}" %>
    </li>
    <li>
      Average Rating: NEED TO UPDATE ONCE AVERAGE RATING IS DONE...
    </li>
    <li>
      <%= button_to "Go Online" %>
    </li>
    <li>
      <%= button_to "Delete", driver_path(@driver), method: :delete%>
    </li>
    <li>
      <%=  button_to "Edit", edit_driver_path(@driver), method: :get%>
    </li>
    <li>
      <%=  button_to "Driver List", drivers_path, method: :get%>
    </li>
  </ul>
</article>

