<h1>Driver View</h1>

<article class="show">
  <h2>Name: <%= @driver.name %></h2>
  <ul>
    <li>
              <%= image_tag "https://api.adorable.io/avatars/193x100/.driver#{@driver.id}.png", alt: "#{@driver.name}'s Avatar", class: "avatar"%>
    </li> 
    <li>
      Car: <%= "#{@driver.car_make} #{@driver.car_model}" %>
    </li>
    <li>
      Average Rating: <%= @driver.average_rating ?  @driver.average_rating.round(2) : "No Rating" %>
    </li>
    <li>
      Total Earnings: $<%= @driver.total_earnings.round(2) %>
    </li>
    <li>
      <% action = "Go Online" %>
      <% if @driver.available == true %>
        <% action = "Go Offline" %>
      <% end %>
      <%= button_to action, availability_path(@driver.id), method: :patch, class: "button" %>
    </li>
    <li>
      <%= button_to "Delete", driver_path(@driver), method: :delete,  data: {confirm: "Are you sure?"}, class: "button" %>
    </li>
    <li>
      <%=  button_to "Edit", edit_driver_path(@driver), method: :get, class: "button" %>
    </li>
  </ul>
</article>

<section>
  <%= render partial: 'trip_table', locals: { :trips => @driver.trips } %>
</section>

